.background{
 background-image: url(img/background4.png);
}

.rock{
  background-image: url(img/rockrdy.png);
}

.paper{
  background-image: url(img/paperrdy.png);
}

.scissors{
  background-image: url(img/scizors.png);
}
