body{
    background-image: url(../img/fuckrulla/backgroundnew.jpg);
}

h1{
    color: aqua;
    font-family: impact;
}

h3{
    color: aqua;
    font-family: impact;
}

pre{
    color: aqua;
    font-family: impact;
    background-color: green;

}

.btn{
    color: aqua;
    font-family: impact;
    background-color: green;
}
