body{
    background-image: url(../img/hand/backgroundnew.jpg);
}

h1{
    color: black;
    font-family: courier;
}

h3{
    color: black;
    font-family: courier;
}

pre{
    color: black;
    font-family: courier;
    background-color: darkgrey;
}

.radio-inline{
    color: black;
    font-family: darkgrey;
}

.btn{
    color: black;
    font-family: courier;
    background-color: darkgrey;
}
