body{
    background-image: url(../img/horror/backgroundnew.png);
}

h1{
    color: #750000;
    font-family: eater;
}

h3{
    color: #750000;
    font-family: eater;
}

pre{
    color: #750000;
    font-family: eater;
    background-color: #060606;
}

.btn{
    color: #750000;
    font-family: eater;
    background-color: #060606;
}

.btn-primary{
    border-color: #750000;
}

.btn-primary:hover{
    background-color: #060606;
    border-color: #750000;
    color: #750000;
}

/*.btn-success:hover, .btn-success:active, .btn-success:focus {
  color: #060606 !important;
  background-color: #750000 !important;
  border-color: #750000 !important;
}*/

.btn-success:active:focus{
  background-color: #750000;
  border-color: #750000;
  color: #060606;
}
