.background{
  background-image: url(../img/horror/background.png);
}

h1{
    color: #921300;
    font-family: eater;
}

h3{
  color: #921300;
  font-family: eater;
}

pre{
  color: #921300;
  font-family: eater;
}

.radio-inline{
  color: #921300;
  font-family: eater;
}

.btn{
  color: #921300;
  font-family: eater;
}
