body{
  background-image: url(../img/horror/backgroundnew.png);
}

h1{
    color: #750000;
    font-family: eater;
}

h3{
  color: #750000;
  font-family: eater;
}

pre{
  color: #750000;
  font-family: eater;
}

.radio-inline{
  color: #750000;
  font-family: eater;
}

.btn{
  color: #750000;
  font-family: eater;
}
