h3{
}

.thumbnail{
    : center;
}

h1{
}

pre{
    padding: 5px;
    text-align: center;
}

li img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

a{
    margin-top: 16px;
    font-size: 28px;
}
