body{
    margin: 10px;
}

h3{
    margin: 0px;
}

.thumbnail{
    : center;
}

h1{
    margin: 0px;
}

pre{
    padding: 5px;
    text-align: center;
}

li img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

a{
    margin-top: 16px;
    font-size: 28px;
}

.progress{
    margin-bottom: 70px;
    margin-top: 10px;
}

.bottomleft{
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.bottomright{
    margin: 0px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#msg{
    text-align: right;
}

#choosebar{
    margin: 5px;
}
